body {

  background: lightgrey;
  padding: 20px;

}

#mon, #tue, #wed, #thu, #fri, #sat, #sun {

  float: left;
  border: 1px solid black;
  padding: 10px;
  margin: 2px;
  background: white;
  width: 60px;

}

h2 {

  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  font-variant: small-caps;
  padding-bottom: 8px;
}

.clock, .rivclock {

  width: 50px;
  height: 50px;
  border: 1px dashed grey;
  margin: 0 auto;
  margin-bottom: 15px;

  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;

  -moz-user-select: none;

}

.rivclock {

  border: 1px solid black;
  margin-left: 5px;

}

.selected {

  border: 4px solid skyblue;

}

.spacer {

  clear: both;

}

#clocks {

  float: left;
  width: 240px;
  overflow-y: auto;
  height: 85vh;
  overflow-x: auto;
}

#grid {

  height: 85vh;
  overflow: auto;

}

div.clockName {

  background: white;
  width: 140px;
  height: 40px;

  border: 1px solid black;

  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;

  -moz-user-select: none;
  float: left;
  margin-left: 60px;
  margin-top: -67px;

  padding: 5px;

}

h2.left {

  text-align: left;
  margin-left: 10px;
}

div.close {

  width: 20px;
  height: 20px;
  background-image: url("../images/close.png");
  z-index: 10;
  margin-left: 28px;
  margin-top: -28px;
  position: absolute;
  display: none;

}

div.clock > div.data {

  display: none;

}

/* Services */
#services {

  margin-bottom: 12px;
  margin-left: 6px;
  padding-bottom: 4px;
  border-bottom: 1px black solid;

}

#services select, input {

  height: 2em;

}

#services label {

  font-weight: bold;

}

/* Grid Clear, Save */
#gridform {

  float:right;

}

#gridform button {

  width: 100px;
  height: 2em;

}

button.red {

  background: #FF7878;

}

button.green {

  background: #E1F5C4;

}

